---
import type { Props } from '@astrojs/starlight/props';
import { Code } from 'astro-expressive-code/components';
import { Icon } from '@astrojs/starlight/components';
import Default from '@astrojs/starlight/components/Hero.astro';
import config from '../../config';

import copy from "../assets/lander/copy.svg?raw";
import check from "../assets/lander/check.svg?raw";
import logoHbo from "../assets/lander/hbo.svg?raw";
import logoShell from "../assets/lander/shell.svg?raw";
import logoAmazon from "../assets/lander/amazon.svg?raw";
import logoComcast from "../assets/lander/comcast.svg?raw";
import logoAnalogDevices from "../assets/lander/analog-devices.svg?raw";

const download = config.npm;
const slug = Astro.props.entry.slug;

const code = `
export default $config({
  app(input) {
    return {
      name: "my-sst-app",
      home: "aws"
    };
  },
  async run() {
    const bucket = new sst.aws.Bucket("MyBucket");

    return {
      bucket: bucket.name
    };
  }
});
`;
---

{ slug !== "" &&
  <Default {...Astro.props}><slot /></Default>
}

{ slug === "" &&
<div class="lander">
  <div class="columns">
    <div class="left">
      <div class="code-block-frame">
        <Code lang="ts" class="code-block" title="sst.config.ts" frame="terminal" code={code} />
        <div class="dot-mask"></div>
      </div>
    </div>
    <div class="right">
      <div class="row">
        <h1>Think bigger.</h1>
      </div>
      <div class="row">
        <button class="command" data-command={`${download.command} ${download.package}`}>
          <code>{download.command}&nbsp;<span class="highlight">{download.package}</span></code>
          <span class="copy"><Fragment set:html={copy} /><Fragment set:html={check} /></span>
        </button>
      </div>
      <div class="row">
        <div class="announcement">
          <a target="_blank" href="https://sst.dev/blog/moving-away-from-cdk.html">Read the announcement<Icon name="right-caret" size="1.25rem" /></a>
        </div>
        <div class="actions">
          <a href="/docs/">What is SST</a>
          <a href="/docs/start/aws/nextjs">Get Started</a>
        </div>
        <div class="logos">
          <p>Loved by thousands of teams</p>
          <div class="icons">
            <span><Fragment set:html={logoAmazon} /></span>
            <span><Fragment set:html={logoAnalogDevices} /></span>
            <span><Fragment set:html={logoShell} /></span>
            <span><Fragment set:html={logoComcast} /></span>
            <span><Fragment set:html={logoHbo} /></span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer">
    <p>&copy; 2024 Anomaly Innovations</p>
  </div>
</div>

<style>
.lander {
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: calc(100vh
    - 2 * 1.5rem /* content-panel */
    - var(--sl-nav-height)
    - 3vh /* main */
    - 1.5rem /* sl-markdown-content */
  );
}
.columns {
  flex: 1;
  display: flex;
  gap: 3rem;
  align-items: center;
  /* justify-content: center; */
}
.left {
  flex: 1;
  /* padding-left: 1.5rem; */
}
.right {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.right .row {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
}
.right .bottom {
  flex: 0;
  padding-bottom: 0.125rem;
}
.footer {
  flex: 0 0 auto;
}

.announcement {
  margin-bottom: 0.25rem;
  text-align: left;
}
.announcement a {
  color: var(--color-text-secondary);
  text-underline-offset: 0.375rem;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.announcement a:hover {
  color: var(--sl-color-text-accent);
}

h1 {
  margin-bottom: 0.75rem;
  text-align: left;
  font-family: var(--sl-font-mono);
  font-size: 3.5rem;
  font-weight: 600;
  letter-spacing: -1px;
  line-height: normal;
}

.command {
  all: unset;
  font-size: 1.25rem;
  display: flex;
  align-items: center;
  gap: 0.625rem;
  justify-content: flex-start;
  cursor: pointer;
}

.command code {
  color: var(--color-text-secondary);
}
.command code:before {
  content: '> ';
  opacity: 0.3;
  -webkit-user-select: none;
  user-select: none;
}
.command code .highlight {
  color: var(--color-text);
}

.command .copy {
  line-height: 1;
  padding: 0;
  height: 1rem;
}
.command .copy svg {
  width: 1rem;
  height: 1rem;
}
.command .copy svg:first-child {
  transform: scaleX(-1);
  display: none;
  color: var(--color-text-dimmed);
}
.command .copy svg:last-child {
  color: var(--sl-color-accent);
  display: none;
}
.command:hover .copy svg:first-child {
  display: inline;
}
.command.success .copy {
  pointer-events: none;
  color: red;
}
.command.success .copy svg:first-child {
  display: none;
}
.command.success .copy svg:last-child {
  display: inline;
}

.actions {
  display: flex;
  flex-direction: row;
  gap: 0.8rem;
  align-items: flex-start;
  margin-bottom: 2rem;
}
.actions a {
  color: var(--sl-color-text-accent);
  color: var(--color-text-secondary);
  text-underline-offset: 0.375rem;
  text-decoration: none;
  /* text-transform: uppercase; */
  /* font-weight: 500; */
  /* font-family: var(--sl-font-mono); */
  /* font-size: var(--sl-text-sm); */
  letter-spacing: 0;
  line-height: normal;
  text-decoration: none;
}
.actions a:hover {
  color: var(--sl-color-text-accent);
}

.code-block-frame {
  position: relative;
  /* padding: 0 3rem; */
  /* border-radius: 1.5rem; */
  /* background: #E27152; */
  /* overflow: hidden; */
}
.blob {
  position: absolute;
  top: 50%;
  left: 80%;
  transform: translate(-80%, -50%);
  margin-left: -100px;
  margin-top: -100px;
  z-index: -2;
  width: 200px;
  height: 200px;
  border-radius: 19rem;
  background: #E27152;
  background-blend-mode: normal;
  /* background: */
  /*   radial-gradient(62.61% 62.61% at 95.23% 6.02%, #160E71 0%, rgba(19, 13, 92, 0.26) 54.71%, rgba(90, 35, 248, 0) 100%), */
  /*   linear-gradient(72.48deg, #EF516D 2.61%, rgba(106, 103, 227, 0) 56.18%), */
  /*   radial-gradient(45.23% 45.23% at 35.11% -11.02%, #7936AE 0%, rgba(121, 54, 174, 0) 100%), */
  /*   radial-gradient(94.51% 124.88% at 94.32% 94.43%, rgba(65, 244, 255, 0.78) 0%, rgba(131, 218, 255, 0.6552) 32.29%, rgba(99, 175, 240, 0.3978) 64.06%, rgba(43, 90, 211, 0) 100%), */
  /*   linear-gradient(313.04deg, #341D65 0.93%, #604AEA 125.68%); */
  /* background-blend-mode: normal, normal, normal, normal, normal, normal; */
  filter: blur(100px);
  animation: moveTriangle 30s linear infinite;
}
@keyframes moveTriangle {
            0% {
  top: 50%;
  left: 80%;
  transform: translate(-80%, -50%);
            }
            33% {
                top: 100%;
                left: 100%;
                transform: translate(-100%, -100%);
            }
            66% {
                top: 100%;
                left: 0;
                transform: translate(0, -100%);
            }
            100% {
                top: 0;
                left: 50%;
                transform: translateX(-50%);
            }
        }
.dot-mask {
  position: absolute;
  top: 0%;
  left: 0%;
  transform: translate(-10rem, -10rem);
  z-index: -1;
  height: calc(100% + 20rem);
  width: calc(100% + 20rem);
  background-image: radial-gradient(var(--divider-color) 1px, transparent 1px);
  background-size: 16px 16px;
  -webkit-mask-image: radial-gradient(
    ellipse 50% 50% at 50% 50%,
    #000 80%,
    transparent 100%
  );
  mask-image: radial-gradient(
    ellipse 50% 50% at 50% 50%,
    #000 80%,
    transparent 100%
  );
}
.code-block {
  /* top: 3rem; */
  /* position: relative; */

  box-shadow: var(--lander-code-shadow), inset 0 0 2px 1px var(--lander-code-inner-glow-color);

  /* overflow: hidden; */
  background:
    linear-gradient(to bottom, var(--lander-background-top-color) 0%, var(--lander-background-top-color) 40%, var(--lander-background-bottom-color) 70%, var(--lander-background-bottom-color) 100%),
    linear-gradient(to bottom, var(--lander-border-top-color) 0%, var(--lander-border-top-color) 35%, var(--lander-border-bottom-color) 65%, var(--lander-border-bottom-color) 100%);
  /* border: 1px solid var(--divider-color); */
  /* border: 1px solid hsl(var(--hue), var(--sat), 96%); */
  border: 1px solid transparent;
  border-radius: calc(2 * var(--border-radius));
 background-origin: border-box;
  background-clip: content-box, border-box;
}
.code-block .frame pre {
  border-radius: calc(var(--border-radius)*2);
  /* border-color: #E27152; */
  border-color: var(--divider-color);
  /* border-color: var(--sl-color-gray-5); */
  border-width: 0px;

  background: transparent;
  /* background: var(--code-background); */
  /* background: var(--sl-color-bg); */
  /* background: linear-gradient(to bottom, var(--sl-color-bg) 0%, var(--sl-color-bg) 15%, var(--code-background) 45%, var(--code-background) 100%); */
  /* background-color: transparent; */
  /* background: repeating-linear-gradient( */
  /*   to right, */
  /*   var(--code-background) 0, */
  /*   var(--code-background) 16px, */
  /*   var(--divider-color) 16px, */
  /*   var(--divider-color) 17px */
  /* ); */
}
.code-block .frame pre code {
  font-size: var(--sl-text-sm);
  padding-block-start: 0.1875rem;
  padding-block-end: calc(0.625rem + 1px);
}
.code-block .copy {
  display: none;
}
.code-block .frame.is-terminal .header {
  font-size: var(--sl-text-sm);
  font-weight: normal;
  border-radius: calc(2*var(--border-radius)) calc(var(--border-radius)*2) 0 0;

  background: transparent;
  /* background: var(--code-background); */
  /* background: var(--sl-color-bg); */
  /* background: var(--divider-color); */

  /* border-color: var(--sl-color-border-code); */
  /* border-color: #E27152; */
  border-color: var(--divider-color);
  /* border-color: var(--sl-color-gray-5); */
  padding-block-start: 0.5rem;
  padding-block-end: 0;
  border-width: 0px;
}
.code-block .frame.is-terminal .header:after {
  /* border-color: var(--sl-color-border-code); */
  border-width: 0px;
}
.code-block .frame.is-terminal .header .title {
  color: var(--color-text-dimmed);
  user-select: none;
  -webkit-user-select: none;
}

.logos {
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
}
.logos p {
  color: var(--color-text-dimmed);
  opacity: 0.75;
  text-transform: uppercase;
  font-size: var(--sl-text-xs);
  letter-spacing: 0.5px;
}
.logos .icons {
  display: flex;
  gap: 0.875rem;
  align-items: center;
}
.logos .icons svg {
  /* opacity: 0.9; */
  color: var(--color-text-dimmed);
}
.logos .icons span:nth-child(1) { width: 60px; }
.logos .icons span:nth-child(2) { width: 66px; }
.logos .icons span:nth-child(3) { width: 23px; }
.logos .icons span:nth-child(4) { width: 60px; }
.logos .icons span:nth-child(5) { width: 41px; }

@media (max-width: 30rem) {
  .announcement {
    margin-bottom: 1.5rem;
  }
  .command {
    font-size: 0.625rem;
    margin-bottom: 1.5rem;
  }
  .command button {
    display: none;
  }
}
</style>

<script>
  const button = document.querySelector("button.command");

  button.addEventListener("click", () => {
    navigator.clipboard.writeText(button.dataset.command);
    button.classList.toggle("success");
    setTimeout(() => {
      button.classList.toggle("success");
    }, 1500);
  });
</script>
}
